

h1{
    font-size: 100px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.haha{
    font-size: 30px;
    color: blanchedalmond;
}

#red{
    color:rebeccapurple;
}
table{
    text-align: center;
    font-size: 1em;
}